<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/misinformeddna/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="MisinformedDNA" />
      <add key="ClearTextPassword" value="a94aaa095f089ccf42e5972264bf3f3851a39647" />
    </github>
  </packageSourceCredentials>
</configuration>